main{
  height: 103vh;
  width: auto;
  margin: 10px;
}

.navBar{
  display: grid;
  grid-template-areas: 
  'pokeball titulo arrow'
  'search search search';
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 70% 30%;
  width: 100%;
  height: 11%;
  background-color: white;
}
.pokeball{
  grid-area: pokeball;
  display: flex;
  justify-content: center;
  align-self: center;
}
.pokeball img{
  height: 30px;
  width: 30px;
  padding-left: 12px;

}
h1{
  grid-area: titulo;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  padding-right: 160px;
}
.arrowFilter{
  grid-area: arrow;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-self: center;
}
.searchBar{
  grid-area: search;
  align-self: center;
  justify-self: center;
}

.pokemonView{
    display: grid;
    grid-template-areas: 
    'pokemon pokemon pokemon'
    'pokemon pokemon pokemon'
    'pokemon pokemon pokemon';
    grid-template-columns: 1fr  1fr 1fr;
    grid-template-rows: 1fr 1fr  1fr;
    height: 50%;
    width: 100%;
    background-color: white;
    margin-top: 15px;

  }

  /*Banco de Pokemons*/
.containerPokemon{
  grid-area: pokemon;
  display: grid;
  grid-template-areas:
  'number' 
  'pokemonImg'
  'grassTxt';
  grid-template-columns: 1fr;
  grid-template-rows: 12% 68% 20%;
  border: 1px solid green;
  border-radius: 10px;

}

/* texto carta pokemon */

.pokemonTxtOne{
  grid-area: grassTxt;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px ;
  text-align: center;
  padding-top: 5px;;
}

/* colores por nombre de tipo */

.Grass-title{
  background-color: #74CB48;
  
}


.Bug-title{
  background-color: #A78723;
}

.Steel-title{
  background-color: #8789B0;
}

.Fire-title{
  background-color: #F57D31;
}

.Ghost-title{
  background-color: #70559B;
}

.Psychic-title{
  background-color: #FB5584;
}

.Electric-title{
  background-color: #F9CF30;
}

.Water-title{
  background-color: #6493EB;
}

.Normal-title{
  background-color: #AAA67F;
}
/* numero pokemon */

.numberOfPokemon{
  grid-area: number;
  height: 15px;
  width: 15px;
  padding-left: 78px;
}

/* img pokemon */

.pokemonImgOne{
  grid-area: grass;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 11px;
}

/* imagen carta */

.pokemonImg{
  height: 75%;
  width: 75%;
  text-align: end;
}

/*.pokemonImgOne > img {
  max-width: 200px;
  min-height: 200px;
}
*/
/*segundo pokemon*/


/* SearchBar - Input */

.input{
  width: 340px;
  border-radius: 8px;
  border: 1px solid lightgray;
  text-align: center;

}

/* Carta pokemon details */

.BackgroundcolorGreen{
 display: grid;
}

.pokemonDetails{
  display: grid;
  height: 100vh;
  width: 100vw;

}

