.navBar{
  display: grid;
  grid-template-areas: 
  'pokeball' 'titulo' 'arrow'
  'search' 'search' 'search';
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 50% 50%;
}
.pokeball{
  grid-area: pokeball;
}
.pokeball img{
  height: 20px;
  width: 20px;
}
h1{
  grid-area: titulo;
  height: auto;
  width: auto;
}
.arrowFilter{
  grid-area: arrow;
  height: auto;
  width: auto;
}
.searchBar{
  grid-area: search;

}
